[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
character-set-client-handshake = FALSE
character-set-server           = utf8mb4
collation-server               = utf8mb4_unicode_ci
default-time-zone='+9:00'

# 바이너리 로그 활성화
log-bin = mysql-bin

# 서버 식별 ID 설정
server-id = 1

# 기본 인증 플러그인 설정
default_authentication_plugin=mysql_native_password
