<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <!-- Include js-cookie library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div id="login-form">
  <h2>Login</h2>
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
  </div>
  <button id="login-btn">Login</button>
  <p id="error-msg" style="color: red; display: none;">Login failed. Please try again.</p>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('login-btn').addEventListener('click', function () {
      const username = document.getElementById('username').value;
      const password = document.getElementById('password').value;

      const loginData = {
        email: username,
        password: password
      };

      // ajax vs fetch -> ajax 무거움 fetch가 빠름
      // jquery 임포트한다는게 엄청난손해

      fetch('/users/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(loginData),
      })
      .then(response => {
        const jwt = response.headers.get('Authorization');
        if (jwt) {
          sessionStorage.setItem("jwt", jwt.split(' ')[1]);
          window.location.href = "/";
        } else {
          throw Error("리다이렉팅에러");
        }
      })
      .catch((error) => {
        console.error('Error:', error);
        document.getElementById('error-msg').style.display = 'block';
        document.getElementById('error-msg').textContent = 'Login failed. Please try again.';
      });
    });
  });
</script>
</body>
</html>
