<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <!-- Include js-cookie library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/js/login.js"></script>
</head>
<body>
<div id="login-form">
  <h2>Login</h2>
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
  </div>
  <button id="login-btn">Login</button>
  <p id="error-msg" style="color: red; display: none;">Login failed. Please try again.</p>
</div>

<script>
  window.onload = function() {
    login()
  };
</script>
</body>
</html>
