<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <title>팝콘톡</title>

  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
          integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/index.css">
  <script src="/js/logout.js"></script>
  <script src="/js/post.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>


</head>
<body>
<button onclick=logout()>로그아웃</button>

<header>


  <div id="popular-posts" class="left-container">
    <h2>Popular Posts</h2>
    <div style="width: 300px;">Lorem ipsum password application properties hello</div>
  </div>
  <h1 id="welcome-message">팝콘톡에 오신걸 환영합니다</h1>
  <div class="right-container">
    <div class="action-buttons">
      <input type="text" placeholder="Search">
      <button id="login-btn" onclick=moveLogin()>Login</button>
      <button id="signup-btn" onclick=moveSignup()>Signup</button>
    </div>
  </div>
</header>
<div class="center-container">

  <article id="posts" class="post-card">
    <button onclick=createPostData()>게시글 등록</button>
    <p id="post_name">
      <input type="text" id="post_nameInput" placeholder="게시글 제목을 작성해주세요">
    </p>
    <h3 id="post_content">
      <input type="text" id="post_contentInput" placeholder="게시글 내용을 입력해주세요">
    </h3>
    <img id="post_imgPreview" src="#" alt="Post Image" style="display: none;">
    <input type="file" id="post_imgInput" placeholder="게시글 이미지를 업로드해주세요"
           onchange="uploadImage(event)">
  </article>
</div>

</body>
<script>
  window.onload = async function() {
    await getPosts(0, '');
    console.log('Page has completely loaded.');

    try {
      // Call the getPosts function here

      // Optional: Add any additional code to run after getPosts completes
    } catch (error) {
      console.error('An error occurred while loading the page:', error);
    }
  };
</script>
</html>
